.Catalog {
    margin: 2.5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Catalog>section{
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
}

.card-info h2 {
    margin: 0;
    align-content: center;
    color: black;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow text to wrap */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    max-height: 2.4em; /* 2 lines * line-height (1.2em) */
    font-size: 24px;
}

.card>a{
    height: 100%;
}

.card-name{
    height: 50%;
}

.app-screen{
    position: relative;
    top: 10vh;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    margin: 0;
}

.card-metadata {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #555;
    height: 50%;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust this to fit more columns */
    gap: 16px;
}

.card-image {
    width: auto;
    height: 65%; /* 70% of the height */
    overflow: hidden;
}

.card-image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-info {
    height: 30%; /* 30% of the height */
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust this to fit more columns */
    }

    .Catalog{
        margin: 2.5%;   
        width: 95%;    
    }

}

.card {
    position: relative;
    overflow: hidden;
}

.out-of-stock {
    opacity: 0.5;
}

.warning-tape {
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 40px;
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transform-origin: center;
    font-weight: bold;
    z-index: 1;
    pointer-events: none;
    font-size: 16px;
}

.card-image {
    position: relative;
}
