.home {
  text-align: center;
}

.section {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.section p {
  color: black;
  margin: 0;
  align-self: center;
}

.section a > p {
  color: red;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  font-family: 'Baskeville', serif;
  font-size: 1.5em;
}

.section a > p:hover {
  color: blue;
  text-decoration: none;
}

.react-multi-carousel-list {
  height: 400px;
  width: 90%;
  margin: 0 auto;
}

.react-multi-carousel-item {
  width: 120px;
}

.react-multi-carousel-track {
  height: 100%;
}

.react-multi-carousel-track li {
  height: 100%;
}

.react-multi-carousel-track li a {
  height: 100%;
  display: block;
}

.carousel-item {
  height: 100%;
}

.home-features {
  height: 500px;
}

.react-multi-carousel-list img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
